<div class="">    
    
    
    
    <div *ngIf="show!=true">
        <section id="user-title">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <h2 class="titulo-user">Hola, {{nombre_cliente}}</h2>
                        <p>¿Que deseas probar hoy?</p>
                    </div>

                </div>
            </section>
            <div class="container d-flex justify-content-center h-100">
                <div class="row">
                  <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="assets/img/cafe.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                          <h3>Cafe</h3>
                        <p class="card-text">El mejor aroma y calidad lo tenemos aquí, ¿que esperas?</p>
                        <button class="btn btn-outline-primary" (click)="sendLink()">¡Pidelo ya! <i class="fa fa-arrow-right"></i></button>  
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="assets/img/club-sandwich.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                          <h3>Sandwich</h3>
                        <p class="card-text">El sabor de los mejores sandwich lo tenemos aquí, ¿que esperas?</p>
                        <button class="btn btn-outline-primary" (click)="sendLink()">¡Pidelo ya! <i class="fa fa-arrow-right"></i></button>  
                      </div>
                    </div>
                  </div> 
                  <div class="col-lg-4 mx-auto">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="assets/img/promociones.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                          <h3>Promociones</h3>
                        <p class="card-text">Disfruta de las promociones de hoy.</p>
                        <button class="btn btn-outline-primary" (click)="sendLink()">¡Pidelo ya! <i class="fa fa-arrow-right"></i></button>  
                      </div>
                    </div>
                  </div>    
                </div>
              </div>
            <!-- Footer -->
            <footer class="py-2">
              <div class="container">
                <p class="m-0 text-center text-white">Cristhian Saavedra 2018</p>
              </div>
              <!-- /.container -->
            </footer>
    </div>
    <div *ngIf="show!=false">
        <app-detalle-pedido></app-detalle-pedido>
    </div>
    
</div>